<!DOCTYPE html>
<html lang="ru-RU">
<head>
  {% include "meta.njk" %}
  {% if hasPhotoGallery %}<link href="/assets/css/photo-gallery.css?v=20260913-gallery-mobile-height" rel="stylesheet" type="text/css">{% endif %}
  <link href="/assets/css/site-icons.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/hiiden-editorial.css?v=20260913-6-gallery-mobile-mosaic" rel="stylesheet" type="text/css">
</head>
<body class="site site_main-page" data-cart="old" data-enable-compare="false" data-grid="12" data-lang="ru_RU" data-page-type="{{ pageType }}" id="top-body" style="--show-header: none;--header-background-color: transparent;background: none;">
<div class="site__layout">
<div class="site-container module main-page-module main-page-module_no-slider" id="container">
  {% include "header.njk" %}
  <div class="site-content small-12" id="content-anchor">
    <div class="site-background" style="background-color: #ffffff; background-image: none; "></div>
    <section class="js-blocks-list" data-blocks-list="" data-ng-controller="ContentController" id="content">
      <div class="js-sorted-blocks main-page-module__list module__list main-page-module__list--no-background" data-module="2" data-region="1" data-sorted-blocks="" data-widget-store-list="content">
        {{ content | safe }}
      </div>
    </section>
  </div>
  {% include "footer.njk" %}
</div>
</div>
{% include "scripts.njk" %}
{% if hasPhotoGallery %}<script src="/assets/js/photo-gallery.js" defer></script>{% endif %}
<script src="/assets/js/site-editorial.js" defer></script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function(m,e,t,r,i,k,a){
        m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
    })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=112571077', 'ym');

    ym(112571077, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", referrer: document.referrer, url: location.href, accurateTrackBounce:true, trackLinks:true});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/112571077" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
