<section class="nh-maps widget-block nh-editor-panel lazyload js-indent">
<div class="lazyload nh-maps--indent-top-s nh-maps--indent-bottom-l" style="background-position: center;background-repeat: no-repeat;background-size: cover;background-color: rgba(255,255,255, 1);">
<div class="js-indent-add"></div> <div class="nh-maps__position nh-maps__position--9 nh-maps-inner__edges">
<div class="nh-maps-inner__width">
<div class="nh-maps__wrapper">
<div class="nh-maps__box nh-maps--round-2">
<div class="map-embed js-map-embed">
<div aria-hidden="true" class="map-embed__fallback">
<div class="map-embed__card">
<p class="map-embed__title">Не удаётся загрузить карту</p>
<p class="map-embed__text">Если у вас включён VPN или блокировщик трафика, интерактивная карта может не открыться. Отключите VPN и обновите страницу.</p>
<a class="map-embed__link" href="{{ src }}" rel="noopener noreferrer" target="_blank">Открыть карту отдельно</a>
</div>
</div>
<iframe class="map-embed__frame js-map-embed-frame" frameborder="0" src="{{ src }}" title="Карта" width="100%">
</iframe>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
