<section class="widget-sort widget-block block-11 nh-editor-panel js-indent" data-region="1">
<section class="view widget on-view text-page" data-widget-content="" id="text">
<header class="widget__header widget__header_underlined text-center widget--indent-top-2 widget--indent-bottom-2"><div class="row"><div class="small-12 column"><h1>{{ title }}</h1></div></div><div class="article__share-links hide-for-large"></div></header> </section>
<div class="widget__content widget__content_filled">
<div class="row">
<div class="widget__view small-10 small-offset-1 column" data-ng-if="$ctrl.loaded" data-ui-view="text-page-view"></div>
</div>
</div>
</section>
