---
permalink: /comment.html
eleventyExcludeFromCollections: true
layout: false
---
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Страница перемещена</title>
  <meta name="robots" content="noindex,follow">
  <link rel="canonical" href="{{ site.url }}/">
  <meta http-equiv="refresh" content="0; url=/">
  <script>location.replace('/' + location.search + location.hash);</script>
</head>
<body>
  <p>Страница перемещена: <a href="/">перейти на главную</a>.</p>
</body>
</html>
