---
layout: base.njk
permalink: /magazin-kafe-saha.html
title: "Магазин-кафе «Saha»"
ogTitle: "Магазин-кафе «Saha»"
ogDescription: "Информация о магазине-кафе «Saha» перенесена в раздел «Развлечения и услуги»."
activePage: "/uslugi.html"
pageType: "text"
redirectTo: "/uslugi.html#saha"
canonicalPath: /uslugi.html
noindex: true
---
<section class="widget__header widget__header_underlined text-center widget--indent-top-2 widget--indent-bottom-2">
  <div class="row">
    <div class="small-12 column">
      <h1>{{ title }}</h1>
      <p>Раздел переехал на страницу «Развлечения и услуги».</p>
      <p><a href="/uslugi.html#saha">Перейти к магазину-кафе «Saha»</a></p>
    </div>
  </div>
</section>
