---
layout: base.njk
permalink: /rules.html
title: "Правила проживания"
ogTitle: "Правила проживания"
ogDescription: "Правила размещения и проживания на территории автокемпинга Хийденвуори"
activePage: "/rules.html"
pageType: "text"
---
{% include "components/text-page-header.njk" %}

<section class="widget-sort widget-block block-11 nh-editor-panel js-indent" data-region="1">
<section class="view widget on-view text-page" data-widget-content="" id="text">
<link href="/assets/css/subscribe.73b784.min.css" rel="stylesheet" type="text/css"/>
<div class="widget__content widget__content_filled">
<div class="widget__inner" data-ng-show="$ctrl.showContent()">
<div class="row -nt-widget">
<div class="small-12 column" id="text-show">
<div class="content-block text-page__content">
<article class="row text-page" id="item1884207">
<link href="/assets/css/text-page.f41420.min.css" rel="stylesheet" type="text/css"/> <div class="small-12 medium-offset-1 medium-10 large-offset-0 large-10 large-centered columns">
<div class="text-page__content">
<div class="mr-block"><div class="mrb-row__content -inline-group_top mrb-row-index-0"><div class="mrb-small-18 mrb-medium-18 mrb-col-index-0 mrb-large-18"><div class="-gd-content mrb-block-index-0"><div class="user-inner">
<h6><span style="color: #000000;">Правила размещения и проживания на территории автокемпинга «Хийденвуори»</span></h6>
<p><br/></p>
<p><span style="color: #000000;">Мы очень рады, что Вы выбрали наш автокемпинг для своего отдыха. Для комфортного и безопасного отдыха просим соблюдать следующие правила:</span></p>
<ol>
<li>Оказание услуг размещения и предоставление места для палатки на территории автокемпинга физическим лицам осуществляется при предъявлении оригиналов документов удостоверяющих личность и при согласии гостя с настоящими правилами проживания в автокемпинге.</li>
<li>Бронирование мест в автокемпинге осуществляется путём направления заявки по телефонам указанным на сайте хийденвуори.рф. При условии предварительной оплаты полной стоимости, бронирование считается гарантированным, палаточное место сохраняется за гостем до расчётного часа дня выезда. Отмена и любые изменения бронирования производятся таким же способом.</li>
<li>Режим работы автокемпинга круглосуточный, сезонный (с 01 мая по 01 октября).</li>
<li>Для удобства и комфорта всех наших гостей, все машины паркуются на специально отведенных местах вне зон для проживания (кроме зоны автодомов). Просим согласовывать Ваше место парковки с нашим менеджером.</li>
<li>При движении на автомобиле просим соблюдать скоростной режим не более 5 км/час, на территории находятся дети и животные. В темное время суток передвижение в зоне палаточных мест на всех видах транспортных средств запрещено.</li>
<li>Территория автокемпинга находится в непосредственной близости от береговой линии Ладожского озера и круизной стоянки теплоходов, в связи с этим просим соблюдать меры безопасности поведения на воде: купаться запрещено, не приближаться к теплоходам, не оставлять детей без контроля уполномоченных лиц на береговой линии.</li>
<li>Несовершеннолетние лица размещаются в Кемпинге с родителями, законными представителями (опекуны и попечители) либо с уполномоченными на то сопровождающими при наличии письменного согласия родителей или законных представителей. Ответственность за безопасность детей несут родители и уполномоченные лица. Запрещается оставлять детей без присмотра.</li>
<li>При размещении Гость обязан заявить о наличии с ним домашнего животного. Гость обязан: выгуливать привезенных с собой животных в намордниках и на поводках; самостоятельно контролировать поведение привезенных с собой животных и убирать продукты их жизнедеятельности (иметь при себе специальные пакеты), иметь личную тару для организации кормления домашнего животного. Строго запрещается использовать в этих целях посуду автокемпинга; владелец домашнего животного гарантирует поддержание чистоты и тишины, чтобы питомец не стал помехой сну и отдыху соседей; Строго запрещено мыть животных в душевых кабинах или раковинах.</li>
<li>В целях обеспечения порядка и спокойствия, в период с 22.00 до 07.00 часов запрещается включать аудио и видеотехнику на полную громкость, громко разговаривать, создавать иной шум, мешающий отдыху других гостей автокемпинга</li>
<li>Гость обязан соблюдать противопожарные и санитарные нормы и правила, чистоту, а также общепринятые правила поведения в общественных местах.</li>
<li>В соответствии с Федеральным законом Российской Федерации от 23 февраля 2013 г. № 15-ФЗ «Об охране здоровья граждан от воздействия окружающего табачного дыма и последствий потребления табака» запрещается курение табака, кальяна, вэйп, iqos, электронных сигарет на всей территории автокемпинга за исключением специально установленных мест. Нарушение установленного федеральным законом запрета курения табака на территории автокемпинга влечет наложение административного штрафа на основании ст. 6.24 КоАП РФ.</li>
<li>Гостю запрещается разведение огня на всей территории вне специально отведенной зоны. В случае нарушения указанного запрета гость оплачивает Обществу штраф в размере 50 000 (пятьдесят тысяч) рублей за нарушение противопожарной безопасности и действующих правил проживания на территории автокемпинга.</li>
<li>Гостю запрещается проносить на территорию Кемпинга опасные предметы и вещества.</li>
<li>На территории автокемпинга запрещается любая деятельность, ставящая под угрозу благополучие и безопасность туристов и персонала; запрещается деятельность, которая может нанести вред экологии окружающей среды.</li>
<li>Запрещается оставлять мусор в местах отдыха.</li>
<li>Администрация не несет ответственности за ценные вещи гостей, оставленные на территории автокемпинга, в палатках или в других помещениях автокемпинга.</li>
<li>Гость в соответствии с законодательством РФ возмещает ущерб в случае утраты или повреждения имущества автокемпинга.</li>
<li>В ситуации если Гость нарушает настоящие Правила проживания или создаёт помеху отдыху других Гостей, администрация Кемпинга оставляет за собой право вызвать наряд полиции для составления протокола об административном правонарушении и принять решение о выселении нарушителя.</li>
</ol>
</div>
</div></div></div></div>
</div>
</div>
</article>
</div>
</div>
</div>
</div>
</div>
</section>
<div class="widget__content widget__content_filled">
<div class="row">
<div class="widget__view small-10 small-offset-1 column" data-ng-if="$ctrl.loaded" data-ui-view="text-page-view"></div>
</div>
</div>
</section>
